<div class="content">
    <div class="title m-b-md">
        books
    </div>

    <div class="row">
        <a href="/books/create" class="btn btn-primary">Add another book</a>
    </div>

    <div class="row">
        <% for(var i=0; i < societies.length; i++) { const society = societies[i] %>

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$book->Title}}</h5>
                    <p class="card-text">{{$book->Author}}</p>
                    <p class="card-text">{{$book->Price}}$</p>
                    <p class="card-text">By:{{$book->Publisher}}</p>
                    <p class="card-text">{{$book->copies}} copies</p>
                    <a href="/books/{{$book->Isbn}}/edit" class="btn btn-primary">Edit</a>
                    <a href="/books/{{$book->Isbn}}/delete" class="btn btn-danger">Delete</a>
                    
                </div>
            </div>
        </div>

        <% } %>

    </div>
</div>