@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        books
    </div>

    <div class="row">
        <a href="/books/create" class="btn btn-primary">Add another book</a>
    </div>

    <div class="row">
        @foreach ( $books as $book )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$book->Title}}</h5>
                    <p class="card-text">{{$book->Author}}</p>
                    <p class="card-text">{{$book->Price}}$</p>
                    <p class="card-text">By:{{$book->Publisher}}</p>
                    <p class="card-text">{{$book->copies}} copies</p>
                    <a href="/books/{{$book->Isbn}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/books/{{$book->Isbn}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection


<!-- <form class="" action="/books/{{$book->bookid}}/edit" method="post">
    @csrf
    @method('get')
    <input type="hidden" name="bookid" value="{{$book->bookid}}">
    <input type="hidden" name="bookname" value="{{$book->bookname}}">
    <input type="hidden" name="Price" value="{{$book->Price}}">
    <button type="submit" class="card-link btn btn-primary">Submit</button>
</form> -->
