{
	display: block;
    box-sizing: border-box;
    margin: 0;
        height: 100vh;
    padding: 0;
}
body {
    background-color: #fff;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    min-height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.row{
    position: relative;
    width: 100%;
}
.content {
    text-align: center;
    width: 100%;
}

.title {
    font-size: 50px;
}
.container-fluid{width: 100%;}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.row{
    margin: 0.8rem 0 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col{
    border:solid grey 0.1rem;
    border-radius:1rem;
    padding:1rem 0;
    margin: 1rem 0 0 0;
    min-width: 23%;
}
button, .card-body a {
    display: inline-block;
    float: left;
}
.card-body a:first-of-type{
    margin-left: 33%;
}

