@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        User
    </div>
    <div class="row">
        <a href="/user/create" class="btn btn-primary">Add another user</a>
    </div>

    <div class="row">
        @foreach ( $users as $user )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$user->id}}</h5>
                    <h5 class="card-title">{{$user->type->tname}}</h5>
                    <h5 class="card-title">{{$user->password}}</h5>
                    <a href="/user/{{$user->id}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/user/{{$user->id}}" method="post">
                        @csrf
                        @method('delete')
                        <button user="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection
