@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        Programs
    </div>

    <div class="row">
        <a href="/programs/create" class="btn btn-primary">Add another program</a>
    </div>

    <div class="row">
        @foreach ( $programs as $program )

        <div class="col col-md-2" style=" min-width:25rem;border:solid grey 1px; padding:10px; border-radius:10px; margin:5px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$program->ptitle}}</h5>
                    <p class="card-text">{{$program->duration}}</p>
                    <a href="/programs/{{$program->pid}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/programs/{{$program->pid}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection


<!-- <form class="" action="/programs/{{$program->programid}}/edit" method="post">
    @csrf
    @method('get')
    <input type="hidden" name="programid" value="{{$program->programid}}">
    <input type="hidden" name="programname" value="{{$program->programname}}">
    <input type="hidden" name="Price" value="{{$program->Price}}">
    <button type="submit" class="card-link btn btn-primary">Submit</button>
</form> -->
