<a href="/pages" class="btn"> Go Back </a>

<div class="container-fluid">
    <div class="container">
        <h2>Add page</h2>
        <form action="/pages" method="POST">

            <div class="form-group">
                <label for="ptitle">page Name:</label>
                <input type="text" class="form-control" name="pname" placeholder="Enter page name" required pattern="[[A-Z]+[a-z]+[0-9]]{15}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>