@extends('layouts.layout')
@section('content')

<a href="{{'/pages','pagesController'}}" class="btn"> Go Back </a>

    <div class="container-fluid">
      <div class="container">
        <h2>Edit page</h2>
        <form action="/pages/{{$page->pid}}" method="POST">
            @csrf
            @method('patch')

          <div class="form-group">
              <label for="pname">page Name:</label>
              <input type="text" class="form-control" name="pname" value="{{$page->pname}}" placeholder="Enter page name" required pattern="[[A-Z]+[a-z]+[0-9]]{15}">
          </div>

          @if($errors->any())
            @foreach ($errors->all() as $error)
                <div class="alert alert-danger">
                    {{$error}}
                </div>
            @endforeach
          @endif

          <button type="submit" class="btn btn-primary">Update</button>

        </form>
        </div>
    	</div>

@endsection
