@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        pages
    </div>

    <div class="row">
        <a href="/pages/create" class="btn btn-primary">Add another page</a>
    </div>

    <div class="row">
        @foreach ( $pages as $page )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$page->pname}}</h5>
                    <a href="/pages/{{$page->pid}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/pages/{{$page->pid}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection


<!-- <form class="" action="/pages/{{$page->pageid}}/edit" method="post">
    @csrf
    @method('get')
    <input type="hidden" name="pageid" value="{{$page->pageid}}">
    <input type="hidden" name="pagename" value="{{$page->pagename}}">
    <input type="hidden" name="Price" value="{{$page->Price}}">
    <button type="submit" class="card-link btn btn-primary">Submit</button>
</form> -->
