@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        sessions
    </div>

    <div class="row">
        <a href="/sessions/create" class="btn btn-primary">Add another session</a>
    </div>

    <div class="row">
        @foreach ( $sessions as $session )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$session->stitle}}</h5>
                    <p class="card-text">{{$session->sdate}}</p>
                    <a href="/sessions/{{$session->sid}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/sessions/{{$session->sid}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection


<!-- <form class="" action="/sessions/{{$session->sessionid}}/edit" method="post">
    @csrf
    @method('get')
    <input type="hidden" name="sessionid" value="{{$session->sessionid}}">
    <input type="hidden" name="sessionname" value="{{$session->sessionname}}">
    <input type="hidden" name="Price" value="{{$session->Price}}">
    <button type="submit" class="card-link btn btn-primary">Submit</button>
</form> -->
