@extends('layouts.layout')
@section('content')

<a href="{{'/student','StudentController'}}" class="btn"> Go Back </a>

<div class="container-fluid">
    <div class="container">
        <h2>Add student</h2>
        <form action="{{'/student','StudentController'}}" method="POST">
            @csrf

            <div class="form-group">
                <label for="pid">Program:</label>
                <select class="form-control" name="pid">
                    @foreach ($programs as $program)
                    <option value={{$program->pid}}>{{$program->ptitle}}</option>
                    @endforeach
                </select>
            </div>

            <div class="form-group">
                <label for="sname">Student name:</label>
                <input type="text" class="form-control" name="sname"placeholder="Enter Student Name" required >
            </div>

            <div class="form-group">
                <label for="fname">Fathername:</label>
                <input type="text" class="form-control" name="fname" placeholder="Enter Father Name" required >
            </div>

            <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" name="gender">
                    <option  value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="address">City:</label>
                <input type="text" class="form-control" name="address" placeholder="Enter Student city" required >
            </div>

            <div class="form-group">
                <label for="dob">Birth year:</label>
                <input type="number" class="form-control" name="dob"  placeholder="Enter birth-year" required >
            </div>

            <div class="form-group">
                <label for="gpa">GPA:</label>
                <input type="number" class="form-control" name="gpa" placeholder="Enter Student GPA" required >
            </div>

            @if($errors->any())
            @foreach ($errors->all() as $error)
            <div class="alert alert-danger">
                {{$error}}
            </div>
            @endforeach
            @endif

            <button student="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

@endsection
