@extends('layouts.layout')
@section('content')
<a href="{{'/student','studentsController'}}" class="btn"> Go Back </a>

    <div class="container-fluid">
      <div class="container">
        <h2>Edit student</h2>
        <form action="/student/{{$student->sid}}" method="POST">
            @csrf
            @method('patch')

          <div class="form-group">
              <label for="pid">Program:</label>
              <select class="form-control" name="pid">
                  @foreach ($programs as $program)
                  <option  <?php if ($program->pid == $student->pid) echo 'selected' ; ?>  value={{$program->pid}}>{{$program->ptitle}}</option>
                  @endforeach
              </select>
          </div>

          <div class="form-group">
              <label for="sname">Student name:</label>
              <input type="text" class="form-control" name="sname" value="{{$student->sname}}" placeholder="Enter Student Name" required >
          </div>

          <div class="form-group">
              <label for="fname">Fathername:</label>
              <input type="text" class="form-control" name="fname" value="{{$student->fname}}" placeholder="Enter Father Name" required >
          </div>

          <div class="form-group">
              <label for="gender">Gender:</label>
              <select class="form-control" name="gender">
                  <option  <?php if ($student->gender == "Male") echo 'selected' ; ?>  value="Male">Male</option>
                  <option  <?php if ($student->gender == "Female") echo 'selected' ; ?>  value="Female">Female</option>
              </select>
          </div>

          <div class="form-group">
              <label for="address">City:</label>
              <input type="text" class="form-control" name="address" value="{{$student->address}}" placeholder="Enter Student city" required >
          </div>

          <div class="form-group">
              <label for="dob">Birth year:</label>
              <input type="number" class="form-control" name="dob" value="{{$student->dob}}" placeholder="Enter birth-year" required>
          </div>

          <div class="form-group">
              <label for="gpa">GPA:</label>
              <input type="number" class="form-control" name="gpa" value="{{$student->gpa}}" placeholder="Enter Student GPA" required>
          </div>

          @if($errors->any())
            @foreach ($errors->all() as $error)
                <div class="alert alert-danger">
                    {{$error}}
                </div>
            @endforeach
          @endif

          <button student="submit" class="btn btn-primary">Update</button>

        </form>
        </div>
    	</div>

@endsection
