@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        student
    </div>
    <div class="row">
        <a href="/student/create" class="btn btn-primary">Add another student</a>
    </div>

    <div class="row">
        @foreach ( $students as $student )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$student->sname}}</h5>
                    <h5 class="card-title">{{$student->fname}}</h5>
                    <a href="/student/{{$student->sid}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection
