@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        {{$student->sname}}
    </div>

    <div class="row">
        <div class="col col-md-8">
            <h5 class="card-title">{{$student->sname}}</h5>
            <h5 class="card-title"> <b>Fathersname: </b> {{$student->fname}}</h5>
            <h5 class="card-title"> <b>Student Gender: </b> {{$student->gender}}</h5>
            <h5 class="card-title"> <b>DOB: </b> {{$student->dob}}</h5>
            <h5 class="card-title"> <b>Program: </b> {{$student->program->ptitle}}</h5>
            <h5 class="card-title"> <b>GPA: </b> {{$student->gpa}}</h5>
        </div>
    </div>

    <div class="row">
        <a href="/student/{{$student->sid}}/edit" class="btn btn-primary">Edit</a>
        <form class="" action="/student/{{$student->sid}}" method="post">
            @csrf
            @method('delete')
            <button student="submit" class="btn btn-danger" name="button">Delete</button>
        </form>
    </div>


</div>
@endsection
