@extends('layouts.layout')
@section('content')

<a href="{{'/types','typesController'}}" class="btn"> Go Back </a>

<div class="container-fluid">
    <div class="container">
        <h2>Add type</h2>
        <form action="{{'/types','typesController'}}" method="POST">
            @csrf

            <div class="form-group">
                <label for="tname">type Name:</label>
                <input type="text" class="form-control" name="tname" placeholder="Enter type name" required pattern="[[A-Z]+[a-z]+[0-9]]{15}">
            </div>

            @if($errors->any())
            @foreach ($errors->all() as $error)
            <div class="alert alert-danger">
                {{$error}}
            </div>
            @endforeach
            @endif

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

@endsection
