@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        types
    </div>

    <div class="row">
        <a href="/types/create" class="btn btn-primary">Add another type</a>
    </div>

    <div class="row">
        @foreach ( $types as $type )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$type->tname}}</h5>
                    <a href="/types/{{$type->tid}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/types/{{$type->tid}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection


<!-- <form class="" action="/types/{{$type->typeid}}/edit" method="post">
    @csrf
    @method('get')
    <input type="hidden" name="typeid" value="{{$type->typeid}}">
    <input type="hidden" name="typename" value="{{$type->typename}}">
    <input type="hidden" name="Price" value="{{$type->Price}}">
    <button type="submit" class="card-link btn btn-primary">Submit</button>
</form> -->
