@extends('layouts.layout')
@section('content')
<a href="{{'/societies','societiesController'}}" class="btn"> Go Back </a>

    <div class="container-fluid">
      <div class="container">
        <h2>Edit society</h2>
        <form action="/societies/{{$societies->socid}}" method="POST">
            @csrf
            @method('PATCH')

          <div class="form-group">
            <label for="socname">Society Name:</label>
            <input type="text" class="form-control" name="socname" value="{{$societies->socname}}" placeholder="Enter Society name">
          </div>

          <div class="form-group">
            <label for="type">Society type:</label>
            <input type="text" class="form-control" name="type" value="{{$societies->type}}" placeholder="Enter Society type" >
          </div>

          @if($errors->any())
            @foreach ($errors->all() as $error)
                <div class="alert alert-danger">
                    {{$error}}
                </div>
            @endforeach
          @endif

          <button type="submit" class="btn btn-primary">Update</button>

        </form>
        </div>
    	</div>

@endsection
