@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        Societies
    </div>
    <div class="row">
        <a href="/societies/create" class="btn btn-primary">Add another Society</a>
    </div>

    <div class="row">
        @foreach ( $societies as $society )
        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$society->socname}}</h5>
                    <p class="card-text">{{$society->type}}</p>
                    <a href="/societies/{{$society->socid}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/societies/{{$society->socid}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection
