<!-- @extends('layouts.layout')
@section('content')

<a href="{{'/participate','participateController'}}" class="btn"> Go Back </a>

<div class="container-fluid">
    <div class="container">
        <h2>Add participate</h2>
        <form action="{{'/participate','participateController'}}" method="POST">
            @csrf

            <div class="form-group">
                <label for="tid">password:</label>
                <select class="form-control" name="tid">
                    @foreach ($types as $type)
                    <option value={{$type->tid}}>{{$type->tname}}</option>
                    @endforeach
                </select>
            </div>

            <div class="form-group">
                <label for="tid">password:</label>
                <select class="form-control" name="tid">
                    @foreach ($types as $type)
                    <option value={{$type->tid}}>{{$type->tname}}</option>
                    @endforeach
                </select>
            </div>

            @if($errors->any())
            @foreach ($errors->all() as $error)
            <div class="alert alert-danger">
                {{$error}}
            </div>
            @endforeach
            @endif

            <button participate="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

@endsection -->
