@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        participate
    </div>
    <div class="row">
        <h3>View by Clubs</h3>
    </div>
    <div class="row">
        <a href="/participate/create" class="btn btn-primary">Add another participate</a>
    </div>

    <div class="row">
        @foreach ( $participates as $participate )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$participate->joindate}}</h5>
                    <!-- <h5 class="card-title"></h5>
                    <h5 class="card-title"></h5> -->
                    <!-- <a href="/participate//edit" class="btn btn-primary">Edit</a> -->
                    <!-- <form class="" action="/participate/" method="post">
                        @csrf
                        @method('delete')
                        <button participate="submit" class="btn btn-danger" name="button">Delete</button>
                    </form> -->
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection
