@extends('layouts.layout')
@section('content')
<a href="{{'/course','coursesController'}}" class="btn"> Go Back </a>

    <div class="container-fluid">
      <div class="container">
        <h2>Edit course</h2>
        <form action="/course/{{$course->code}}" method="POST">
            @csrf
            @method('patch')

          <div class="form-group">
              <label for="pid">Program:</label>
              <select class="form-control" name="pid">
                  @foreach ($programs as $program)
                  <option  <?php if ($program->pid == $course->pid) echo 'selected' ; ?>  value={{$program->pid}}>{{$program->ptitle}}</option>
                  @endforeach
              </select>
          </div>

          <div class="form-group">
              <label for="coursetitle">course name:</label>
              <input type="text" class="form-control" name="coursetitle" value="{{$course->coursetitle}}" placeholder="Enter course Name" required >
          </div>

          <div class="form-group">
              <label for="crdhr">Credit hours:</label>
              <input type="number" class="form-control" name="crdhr" value="{{$course->crdhr}}" placeholder="Enter Credit hours:" required>
          </div>

          <div class="form-group">
              <label for="coursetype">Course type:</label>
              <input type="text" class="form-control" name="coursetype" value="{{$course->coursetype}}" placeholder="Enter course type" required >
          </div>

          <div class="form-group">
              <label for="courseprereq">Course prerequisite:</label>
              <input type="text" class="form-control" name="courseprereq" value="{{$course->courseprereq}}" placeholder="Enter course pre requisite" required >
          </div>

          @if($errors->any())
            @foreach ($errors->all() as $error)
                <div class="alert alert-danger">
                    {{$error}}
                </div>
            @endforeach
          @endif

          <button course="submit" class="btn btn-primary">Update</button>

        </form>
        </div>
    	</div>

@endsection
