@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        course
    </div>
    <div class="row">
        <a href="/course/create" class="btn btn-primary">Add another course</a>
    </div>

    <div class="row">
        @foreach ( $courses as $course )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$course->coursetitle}}</h5>
                    <h5 class="card-title">{{$course->crdhr}}</h5>
                    <a href="/course/{{$course->code}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection
