@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        {{$course->coursetitle}}
    </div>

    <div class="row">
        <div class="col col-md-8">

            <h5 class="card-title">{{$course->coursetitle}}</h5>
            <h5 class="card-title"> <b>Credit hours: </b> {{$course->crdhr}}</h5>
            <h5 class="card-title"> <b>Program: </b> {{$course->program->ptitle}}</h5>
            <h5 class="card-title"> <b>Couse type: </b> {{$course->coursetype}}</h5>
            <h5 class="card-title"> <b>Course prereq: </b> {{$course->courseprereq}}</h5>
        </div>
    </div>

    <div class="row">
        <a href="/course/{{$course->code}}/edit" class="btn btn-primary">Edit</a>
        <form class="" action="/course/{{$course->code}}" method="post">
            @csrf
            @method('delete')
            <button course="submit" class="btn btn-danger" name="button">Delete</button>
        </form>
    </div>


</div>
@endsection
