
<div class="content">
    <div class="title m-b-md">
        Products
    </div>

    <div class="row">
        <a href="/products/create" class="btn btn-primary">Add another Product</a>
    </div>

    <div class="row">
        <% for(var i=0; i < products.length; i++) { const product = products[i] %>

        <div class="col col-md-2" style=" min-width:25rem;border:solid grey 1px; padding:10px; border-radius:10px; margin:5px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= products[i].Productname %></h5>
                    <p class="card-text"><%= product.Price %></p>
                    <a href="/products/<%= product.Productid %>/edit" class="btn btn-primary">Edit</a>
                    <a href="/products/<%= product.Productid %>/delete" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>

        <% } %>

    </div>
</div>