@extends('layouts.layout')
@section('content')

<a href="{{'/teachers','TeachersController'}}" class="btn"> Go Back </a>

    <div class="container-fluid">
      <div class="container">
        <h2>Add Teacher</h2>
        <form action="{{'/teachers','TeachersController'}}" method="POST">
            @csrf

          <div class="form-group">
            <label for="Firstname">First Name:</label>
            <input type="text" class="form-control" name="Firstname" placeholder="Enter First name" required>
          </div>

          <div class="form-group">
            <label for="Lastname">Last Name:</label>
            <input type="text" class="form-control" name="Lastname" placeholder="Enter First name" required>
          </div>

          <div class="form-group">
            <label for="Designation">Designation:</label>
            <input type="text" class="form-control" name="Designation" placeholder="Enter Designation" required>
          </div>

          <div class="form-group">
              <label for="Experience">Eperience:</label>
              <select class="form-control" name="Experience">
                  <option value="">---- Years ----</option>
                  <option value="1 year"> 1 year </option>
                    @php
                        for ($i=2; $i<=100; $i++)
                        {
                            @endphp
                            <option value="<?php echo $i;?> years"><?php echo $i;?> years </option>
                            @php
                        }
                    @endphp
              </select>
          </div>

          @if($errors->any())
            @foreach ($errors->all() as $error)
                <div class="alert alert-danger">
                    {{$error}}
                </div>
            @endforeach
          @endif

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        </div>
    	</div>

@endsection
