@extends('layouts.layout')
@section('content')
<div class="content">
    <div class="title m-b-md">
        Teachers
    </div>

    <div class="row">
        <a href="/teachers/create" class="btn btn-primary">Add another teacher</a>
    </div>

    <div class="row">
        @foreach ( $teachers as $teacher )

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$teacher->Firstname}}  {{$teacher->Lastname}}</h5>
                    <p class="card-text">{{$teacher->Designation}}</p>
                    <p class="card-text">{{$teacher->Experience}}</p>
                    <a href="/teachers/{{$teacher->TId}}/edit" class="btn btn-primary">Edit</a>
                    <form class="" action="/teachers/{{$teacher->TId}}" method="post">
                        @csrf
                        @method('delete')
                        <button type="submit" class="btn btn-danger" name="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        @endforeach

    </div>



</div>
@endsection


<!-- <form class="" action="/teachers/{{$teacher->teacherid}}/edit" method="post">
    @csrf
    @method('get')
    <input type="hidden" name="teacherid" value="{{$teacher->teacherid}}">
    <input type="hidden" name="teachername" value="{{$teacher->teachername}}">
    <input type="hidden" name="Price" value="{{$teacher->Price}}">
    <button type="submit" class="card-link btn btn-primary">Submit</button>
</form> -->
