<div class="content">
    <div class="title m-b-md">
        Teachers
    </div>

    <div class="row">
        <a href="/teachers/create" class="btn btn-primary">Add another teacher</a>
    </div>

    <div class="row">
        <% for(var i=0; i < societies.length; i++) { const society = societies[i] %>

        <div class="col col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{$teacher->Firstname}}  {{$teacher->Lastname}}</h5>
                    <p class="card-text">{{$teacher->Designation}}</p>
                    <p class="card-text">{{$teacher->Experience}}</p>
                    <a href="/teachers/{{$teacher->TId}}/edit" class="btn btn-primary">Edit</a>
                    <a href="/books/{{$book->Isbn}}/delete" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>

        @endforeach

    </div>
</div>